<div class="col-xs-12">
<h1>配送先編集</h1>
	<%= form_for(@address) do |f| %>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="postal_code">郵便番号（ハイフンなし）</label>
			<%= f.text_field :postal_code, class:"form-control", placeholder:"郵便番号" %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-8">
			<label for="address">住所</label>
			<%= f.text_field :address, class:"form-control",　placeholder:"住所" %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="name">宛名</label>
			<%= f.text_field :name, class:"form-control",　placeholder:"宛名" %>
		</div>
	</div>
        <%= f.submit "編集する", class:"btn btn-primary col-xs-offset-10" %>
    <% end %>
</div>

