<script src="https://kit.fontawesome.com/da6e295665.js" crossorigin="anonymous"></script>
<div class='row'>

  <div class="col-xs-2">
    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th><i class="fas fa-search"></i>ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <% if genre.is_active == true %>
          <tr>
            <td>
            <%= form_with(url: items_path, method: :get, local: :true) do |f| %>
              <%= f.hidden_field :search, value:genre.id %>
              <%= f.submit genre.name, class: "genre_name_button" %>
            <% end %>
             </td>
          </tr>
          <% end %>
        <% end %>
        <tr>
          <td><%= link_to "⇒ すべての商品を見る", items_path, class: 'dark-blue-letter' %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center"><%= paginate(@genres) %></div> 
  </div>

  <div class="col-xs-9">
    <h2>
      <span style="display: inline-block;"><%= @item_title %></span>
      <span style="display: inline-block;">（全<%= @items.count %>件）</span>
    </h2>
    <% @items.each do |item| %>
      <% if item.genre.is_active == true %>
        <div class="clearfix col-xs-4 item-box space">
          <%= link_to item_path(item.id) do %>

            <div class="row">
              <%= attachment_image_tag(item, :image, size: "180x130", fallback: 'no_image.jpg') %>
            </div>

            <div class="row">
              <h4><%= item.name %></h4>
            </div>

            <div class="row">
              <% if item.is_active == true %>
                <h4>￥<%= tax_price(item.price).to_s(:delimited) %></h4>
              <% else %>
                <h4>売り切れ中</h4>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- ここにpaginateを入れたい。エラーが出たため、一旦抜いてます -->
</div>
