<script src="https://kit.fontawesome.com/da6e295665.js" crossorigin="anonymous"></script>
<div class='row'>

  <div class="col-xs-2">
    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th><i class="fas fa-search"></i>ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <% if genre.is_active == true %>
          <tr>
            <td>
              <%= form_with(url: items_path, method: :get, local: :true) do |f| %>
              <%= f.hidden_field :search, value:genre.id %>
              <%= f.submit genre.name, class: "genre_name_button" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="text-center"><%= paginate(@genres) %></div>
  </div>

  <div class="col-xs-3">
    <%= attachment_image_tag(@item, :image, size: "240x180", fallback: "no_image.jpg") %>
  </div>

  <div class="col-xs-4">
    <h3><strong><%= @item.name %></strong></h3>

    <p><%= @item.introduction %></p></br>
    
    <h4>¥ <%= tax_price(@item.price).to_s(:delimited) %>（税込み）</h4></br>

    <% if @item.is_active == true %>
      <% if @item.genre.is_active == true %>
        <%= form_with(model: [@item, @cart_item], local: true, url: {controller: 'cart_items', action: 'create'}) do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-primary pull-right" %>
        <% end %>
      <% else %>
        <p>売り切れ中</p>
      <% end %>
    <% else %>
        <p>売り切れ中</p>
    <% end %>
  </div>
</div>