

<div class="row">
  <div class="col-xs-7 col-xs-offset-2">
    <h2 class="head-line"><span style="background-color:#C0C0C0">会員一覧</span></h2>
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
       <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td class="info col-sm-1">
              <%= customer.id %>
            </td>
            <td class="col-sm-2">
              <%= link_to admins_customer_path(customer), class: "btn-link"  do %>
                <i class=""></i>
                <%= customer.last_name %> 
                <%= customer.first_name %>           
              <% end %>
            </td>
            <td class="col-sm-2">
              <%= customer.email %>
            </td>
            <td class="col-sm-1">
              <!--if文-->      
              <% if customer.is_valid == false %>
                <i>有効</i>
              <% else %>
                <i>退会済</i>
              <% end %>       
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>    